@page "/aditionalComments"
@inject IRepository repository
@inject ISessionStorageService sessionStorage

@if (IsLoading)
{
    <div style="background: rgba(255, 255, 255, 0.4);z-index:1000;width:100%;min-height:100%;background-position :50% 50%;position:fixed;">
        <div class="spinner"></div>
    </div>
}

<EditForm Model="@designACDTO" OnValidSubmit="SaveChangesAsync">

    <nav class="ml-2 mt-4">
        <div class="d-flex text-center">
            <div class="pl-0 mt-1"><strong>Comentarios adicionales</strong></div>
            <button type="submit" class="ml-2 btn primary">Guardar</button>
            <button type="button" class="ml-2 btn primary">Copiar</button>
            <button type="button" class="ml-2 btn primary">Cerrar</button>
            <button type="button" class="ml-2 btn primary">Abrir</button>
            <button type="button" class="ml-2 btn primary">Administracion</button>
            <button type="button" class="ml-2 btn primary">RCA Codificador</button>
        </div>
    </nav>
    <br />

    <div class="card card-custom card-compact">
        <div class="card-title">
            <div class="col-md-8 pl-0">Tipo de emplazamiento</div>
        </div>
        <div class="card-content">
            <div class="content-form form-row">
                <div class="col-3 form-group has-float-label">
                    <InputSelect @bind-Value="designACDTO.DesignACSiteTypeDTO.StationId" Id="designACDTO.DesignACSiteTypeDTO.StationId" class="form-control">
                        @foreach (var item in designACDTO.DesignACSiteTypeDTO.TypeStations)
                        {
                            <option value="@item.Id" selected="@(item.Id == designACDTO.DesignACSiteTypeDTO.StationId)">@item.Name</option>
                        }
                    </InputSelect>
                    <label for="radioPosition">Estación</label>
                </div>
                <div class="col-3 form-group has-float-label">
                    <InputSelect @bind-Value="designACDTO.DesignACSiteTypeDTO.StandId" Id="designACDTO.DesignACSiteTypeDTO.StandId" class="form-control">
                        @foreach (var item in designACDTO.DesignACSiteTypeDTO.TypeStands)
                        {
                            <option value="@item.Id" selected="@(item.Id == designACDTO.DesignACSiteTypeDTO.StandId)">@item.Name</option>
                        }
                    </InputSelect>
                    <label for="radioPosition">Tipo de caseta</label>
                </div>
                <div class="col-3 form-group has-float-label">
                    <InputSelect @bind-Value="designACDTO.DesignACSiteTypeDTO.OutdoorInstallationId" Id="designACDTO.DesignACSiteTypeDTO.OutdoorInstallationId" class="form-control">
                        @foreach (var item in designACDTO.DesignACSiteTypeDTO.TypeOutdoorInstallations)
                        {
                            <option value="@item.Id" selected="@(item.Id == designACDTO.DesignACSiteTypeDTO.OutdoorInstallationId)">@item.Name</option>
                        }
                    </InputSelect>
                    <label for="radioPosition">Tipo de instalación</label>
                </div>
                <div class="col-3 form-group has-float-label">
                    <InputSelect @bind-Value="designACDTO.DesignACSiteTypeDTO.SiteOwnerId" Id="designACDTO.DesignACSiteTypeDTO.SiteOwnerId" class="form-control">
                        @foreach (var item in designACDTO.DesignACSiteTypeDTO.TypeSiteOwners)
                        {
                            <option value="@item.Id" selected="@(item.Id == designACDTO.DesignACSiteTypeDTO.SiteOwnerId)">@item.Name</option>
                        }
                    </InputSelect>
                    <label for="radioPosition">Propietario del emplazamiento</label>
                </div>
            </div>
            <div class="content-form form-row">
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationNotShared" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        No compartido
                    </label>
                </div>
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationVodafone" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        Vodafone
                    </label>
                </div>
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationOrange" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        Orange
                    </label>
                </div>
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationTelxius" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        Telxius
                    </label>
                </div>
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationYoigo" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        Yoigo
                    </label>
                </div>
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationAdif" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        Adif
                    </label>
                </div>
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationCellnex" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        Cellnex
                    </label>
                </div>
                <div class="col-1">
                    <InputCheckbox @bind-Value="designACDTO.DesignACSiteTypeDTO.SharedLocationOthers" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label">
                        Otros
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="card card-custom card-compact">
        <div class="card-title">
            <div class="col-md-8 pl-0">Radio Summary</div>
        </div>
        <div class="card-content">
            <div class="content-form form-row">
                <div class="tabs col-12">
                    <div class="tab-button-outer">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabL800" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSL800 ? "active" : "")" @onclick=@(() => SelectTab("L800"))>LTE 800</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabG900" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSG900 ? "active" : "")" @onclick=@(() => SelectTab("G900"))>GSM 900</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabU900" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSU900 ? "active" : "")" @onclick=@(() => SelectTab("U900"))>UMTS 900</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabL900" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSL900 ? "active" : "")" @onclick=@(() => SelectTab("L900"))>LTE 900</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabG1800" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSG1800 ? "active" : "")" @onclick=@(() => SelectTab("G1800"))>GSM 1800</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabL1800" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSL1800 ? "active" : "")" @onclick=@(() => SelectTab("L1800"))>LTE 1800</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabU2100" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSU2100 ? "active" : "")" @onclick=@(() => SelectTab("U2100"))>UMTS 2100</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabL2100" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSL2100 ? "active" : "")" @onclick=@(() => SelectTab("L2100"))>LTE 2100</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabL2600" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSL2600 ? "active" : "")" @onclick=@(() => SelectTab("L2600"))>LTE 2600</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabL3500" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSL3500 ? "active" : "")" @onclick=@(() => SelectTab("L3500"))>LTE 3500</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabNR3600" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSNR3600 ? "active" : "")" @onclick=@(() => SelectTab("NR3600"))>NR 3600</a></li>
                            <li role="presentation" class="nav-item col-1"><a aria-controls="tabESS700" role="tab" data-toggle="tab" class="nav-link text-center @(_activeRSESS700 ? "active" : "")" @onclick=@(() => SelectTab("ESS700"))>ESS 700</a></li>
                        </ul>
                    </div>
                   <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tabL800" style="display: @(_activeRSL800 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL800_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL800_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSG900 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryG900_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryG900_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSU900 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryU900_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryU900_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSL900 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL900_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL900_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSG1800 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryG1800_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryG1800_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSL1800 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL1800_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL1800_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSU2100 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryU2100_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryU2100_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSL2100 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL2100_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL2100_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSL2600 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL2600_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL2600_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSL3500 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL3500_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryL3500_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSNR3600 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryNR3600_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryNR3600_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabG900" style="display: @(_activeRSESS700 ? "block" : "none")">
                            <div class="form-group row mt-4">
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryESS700_DTO.Comments" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Comentarios</label>
                                </div>
                                <div class="col-12 form-group has-float-label">
                                    <InputText @bind-Value="designACDTO.DesignACRadioSummaryESS700_DTO.Needs" class="form-control">
                                    </InputText>
                                    <label for="radioPosition">Necesita</label>
                                </div>
                            </div>
                        </div>
                   </div>
            </div>
        </div>
        </div>
    </div>

</EditForm>

@code {
    private string _id_replanteo;
    private string _site;
    private string _usuario;
    private string _operador;
    private string _idOperador;
    private string _empresa;
    private string _organizacion;
    private bool _administradorEmpresa;
    private string _proyecto;
    private string _pais;
    private string _seccion;

    private string _id_usuario;
    private InitialRequest _initialRequest;

    public DesignACDTO designACDTO = new DesignACDTO();
    public bool IsLoading;

    private bool _activeRSL800 = true;
    private bool _activeRSG900 = false;
    private bool _activeRSU900 = false;
    private bool _activeRSL900 = false;
    private bool _activeRSG1800 = false;
    private bool _activeRSL1800 = false;
    private bool _activeRSU2100 = false;
    private bool _activeRSL2100 = false;
    private bool _activeRSL2600 = false;
    private bool _activeRSL3500 = false;
    private bool _activeRSNR3600 = false;
    private bool _activeRSESS700 = false;

    protected override async Task OnInitializedAsync()
    {
        _id_replanteo = await sessionStorage.GetItemAsStringAsync("AteneaId");
        _site = await sessionStorage.GetItemAsStringAsync("AteneaSite");
        _usuario = await sessionStorage.GetItemAsStringAsync("AteneaUsuario");
        _operador = await sessionStorage.GetItemAsStringAsync("AteneaOperador");
        _idOperador = await sessionStorage.GetItemAsStringAsync("AteneaIdOperador");
        _empresa = await sessionStorage.GetItemAsStringAsync("AteneaEmpresa");
        _organizacion = await sessionStorage.GetItemAsStringAsync("AteneaOrganizacion");
        _administradorEmpresa = bool.Parse(await sessionStorage.GetItemAsStringAsync("AteneaAdministradorEmpresa"));
        _proyecto = await sessionStorage.GetItemAsStringAsync("AteneaProyecto");
        _pais = await sessionStorage.GetItemAsStringAsync("AteneaPais");
        _seccion = await sessionStorage.GetItemAsStringAsync("AteneaSeccion");

        //Check init
        _initialRequest = new InitialRequest
            {
                Administrator = _administradorEmpresa.ToString(),
                Company = _empresa,
                OperatorId = _idOperador,
                VersionId = _id_replanteo,
                Operator = _operador,
                Organization = _organizacion,
                Country = _pais,
                Project = _proyecto,
                Section = _seccion,
                Site = _site,
                User = _usuario
            };

        await CheckInitialAsync();
    }

    private async Task CheckInitialAsync()
    {
        try
        {
            IsLoading = true;
            StateHasChanged();
            var responseHttp = await repository.Post<InitialRequest, DesignAC>("/api/core/InitialChecks", _initialRequest);
            if (responseHttp.Error)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                IsLoading = false;
                StateHasChanged();
                return;
            }

            _id_usuario = responseHttp.Response.User.Id.ToString();
            await sessionStorage.SetItemAsStringAsync("IdUsuarioMateriales", _id_usuario);

            await LoadAditionalCommentsAsync(responseHttp.Response.Id);
        }
        catch (Exception ex) { }
        finally
        {
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task LoadAditionalCommentsAsync(int id)
    {
        var responseHTTP = await repository.Get<DesignACDTO>($"/api/designac/{id}");
        if (responseHTTP.Error)
        {
            var message = await responseHTTP.GetErrorMessageAsync();
            return;
        }

        designACDTO = responseHTTP.Response!;
    }

    private void SelectTab(string tabName)
    {
        ResetActiveTabs();
        switch(tabName)
        {
            case "L800":
                _activeRSL800 = true;
                break;
            case "G900":
                _activeRSG900 = true;
                break;
            case "U900":
                _activeRSU900 = true;
                break;
            case "L900":
                _activeRSL900 = true;
                break;
            case "G1800":
                _activeRSG1800 = true;
                break;
            case "L1800":
                _activeRSL1800 = true;
                break;
            case "U2100":
                _activeRSU2100 = true;
                break;
            case "L2100":
                _activeRSL2100 = true;
                break;
            case "L2600":
                _activeRSL2600 = true;
                break;
            case "L3500":
                _activeRSL3500 = true;
                break;
            case "NR3600":
                _activeRSNR3600 = true;
                break;
            case "ESS700":
                _activeRSESS700 = true;
                break;
        }
    }

    private void ResetActiveTabs()
    {
        _activeRSL800 = false;
        _activeRSG900 = false;
        _activeRSU900 = false;
        _activeRSL900 = false;
        _activeRSG1800 = false;
        _activeRSL1800 = false;
        _activeRSU2100 = false;
        _activeRSL2100 = false;
        _activeRSL2600 = false;
        _activeRSL3500 = false;
        _activeRSNR3600 = false;
        _activeRSESS700 = false;
    }

    private void SaveChangesAsync()
    {
        
    }
}
